body {
	margin:0;
	padding: 0;
}

main {
	position: relative;
	width: 95%;
	height: 50%;
	overflow: hidden;
	margin-top:50px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid transparent;
	padding-left: 0;
	outline: 1px red dashed;
}

.wrap {
	width: 2000%;
	margin: 0;
	transition: margin-left 1s cubic-bezier(.36,.01,.37,1.52);
}

section.veg {
	position: relative;
	box-sizing: border-box;
	width: 1.25%;
	height: 500px;
	float: left;
	margin: 0;
	overflow: hidden;	
	outline: 1px red dashed;
}

input[name="botton"] {
	display: none;
}

nav {
	height: 100%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	outline: 1px red dashed;
}

label {
display: inline-block;

width: 25px;
height: 25px;
border-radius: 50%;
border: 1px solid blue;
outline: 1px red dashed;
}

#piece1:checked ~ nav label:nth-child(1)
{background-color: blue;}
#piece2:checked ~ nav label:nth-child(2)
{background-color: blue;}
#piece3:checked ~ nav label:nth-child(3)
{background-color: blue;}
#piece4:checked ~ nav label:nth-child(4)
{background-color: blue;}
#piece5:checked ~ nav label:nth-child(5)
{background-color: blue;}
#piece6:checked ~ nav label:nth-child(6)
{background-color: blue;}

#piece1:checked ~ #wrap
{margin-left:0}
#piece2:checked ~ #wrap
{margin-left: -75%}
#piece3:checked ~ #wrap
{margin-left: -150%}
#piece4:checked ~ #wrap
{margin-left: -225%}
#piece5:checked ~ #wrap
{margin-left: -300%}
#piece6:checked ~ #wrap
{margin-left: -375%}